$colormain: #006a71;
$colorsecond: #68b0ab;
$colorthird: #ff7e67;
$colorbackground: #ecf4f3;

.color-main {
    color: $colormain;
  }
  
  
.color-second {
    color: $colorsecond;
  }

.color-third {
    color: $colorthird;
  }


.border-color-third {
    border-color: $colorthird;
  }  

.border-color-second {
    border-color: $colorsecond;
  } 
.border-color-main {
    border-color: $colormain;
}  