$colormain: #006a71;
$colorsecond: #68b0ab;
$colorthird: #ff7e67;
$colorbackground: #ecf4f3;

.color-main {
    color: $colormain;
  }
  
  
.color-second {
    color: $colorsecond;
  }

.color-third {
    color: $colorthird;
  }