$colormain: #ff6363;
$colorsecond: #543864;
$colorthird: #ffbd69;
$colorbackground: #202040;

.color-main {
    color: $colormain;
  }
  
  
.color-second {
    color: $colorsecond;
  }

.color-third {
    color: $colorthird;
  }

.fill-colorbackground {
  fill: $colorbackground;
}


.border-color-third {
    border-color: $colorthird;
  }  

.border-color-second {
    border-color: $colorsecond;
  } 
.border-color-main {
    border-color: $colormain;
}  